<nav class="nav">
  <a class="logo"> Dragon Ball Express App</a>
  <ul class="nav-list">
    <li><a class="navbtn" href="/">Home</a></li>
    <li><a class="navbtn" href="/characters">Characters</a></li>
    <li><a class="navbtn" href="/search">Search</a></li>
    <li><a class="navbtn" href="/anime">Dragon Ball Anime </a></li>
  </ul>
</nav>